*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* .page1, .groupSection, .notesSection, .btn, .newGroup, .group , .icon, .header, .notes, .textBox, .sampleNote, .timeStamps, .message, .page2, .container, .colors, .color{
    border: 2px solid;
} */
.page1, .page2{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-color: linen;
    display: flex;
    font-family: math;
}
.groupSection{
    width: 30%;
    /* height: 100%; */
    min-height: 100%;
    padding-left: 1.5%;
    padding-top: 1.5%;
    background-color: white;
}
.notesSection, .defaultPage{
    width: 70%;
    height: 100%;
    position: fixed;
    right: 0px;
    display: none;
}
.defaultPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    font-family: math;
}
.textDiv{
    width: 55%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textDiv > img{
    width: 100%;
}
.textDiv > h2{
    font-size: 40px;
    margin-bottom: 8px;
}
.textDiv>p{
    width: 88%;
}
.footer{
    position: absolute;
    bottom: 30px;
}
.newGroup{
    width: 100%;
    height: 3.8rem;
    display: flex;
    align-items: center;
    padding-left: 3%;
}
.heading{
    font-size: x-large;
    height: 3.4rem;
    width: 100%;
    font-weight: bold;
    font-family: math;
}
.btn{
    background-color: black;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    width: 70%;
    height: 68%;
    border-radius: 30px;
    padding-left: 5%;
}
.btn > p{
    color: white;
    font-size: 18px;
}
.btn > img{
    height: 50%;
    margin-right: 4%;
}
.group{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.groups{
    padding-top: 3%;
}
.icon{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
    color: white;
}
.name{
    font-size: larger;
}
.header{
    height: fit-content;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 12px;
    width: 100%;
    background: #E8E8E8;
}
.notes{
    height: 60%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}
.textBox{
    height: 30%;
    width: 100%;
    padding: 2%;
    background-color: white;
    background: #E8E8E8;
}
#textArea{
    width: 100%;
    height: 100%;
    padding-top: 1.5%;
    padding-left: 1.5%;
    font-size: larger;
    border: none;
    padding-right: 5%;
}
.sendBtn > img{
    width: 30px;
    height: 23px;
}
.textBox > button{
    width: 3%;
    border: none;
    position: absolute;
    right: 2rem;
    bottom: 3.8%;
    background: white;
}
.sampleNote{
    width: 100%;
    height: auto;
    display: flex;
    padding-left: 4%;
    padding-right: 6%;
    padding-top: 2%;
    line-height: 23px;
}
.timeStamps{
    height: 100%;
    width: 17%;
}
.message{
    width: 83%;
    height: 100%;
    margin-left: 2rem;
}
.page2{
    height: 100vh;
    background: rgba(49, 49, 49, 0.8);
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.modalBox{
    background-color: white;
    height: 35vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.container{
    height: 80%;
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.colors{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.color{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    background: blue;
    cursor: pointer;
}
.feild2, .feild1{
    display: flex;
    font-size: large;
    align-items: center;
}
.feild1{
    margin-top: 10px;
}
.container > p{
    font-size: x-large;
}
.feild1 > input{
    padding: 7px;
    margin-left: 5%;
    width: 50%;
    border-radius: 30px;
    padding-left: 12px;
    border: 1.5px solid #CCCCCC;
}
.feild2 > div{
    padding: 3px;
}
.modalBox > button{
    position: absolute;
    bottom: 8%;
    right: 5%;
    height: 15%;
    width: 18%;
    background: black;
    color: white;
    border-radius: 7px;
}
.backBtn{
    width: 28px;
    height: 28px;
    border: none;
    display: none;
    position: absolute;
    top: 1.2rem;
    left: 5px;
}
.backBtn > img{
    width: 100%;
}
.color:hover{
    outline: 1px solid black;
}
@media screen and (max-width: 1150px) {
    .btn {
      width: 90%;
    }
}
@media screen and (max-width: 900px) {
    .groupSection {
      width: 40%;
    }
    .notesSection, .defaultPage{
        width: 60%;
    }
    .textDiv{
        height: 50%;
        width: 70%;
    }
    .modalBox{
        width: 50%;
    }
    .timeStamps{
        width: 30%;
    }
}
@media screen and (max-width: 650px) {
    .modalBox {
      width: 65%;
    }
    .timeStamps{
        width: 50%;
    }
}
@media screen and (max-width: 450px) {
    .modalBox {
      width: 75%;
    }
}
@media screen and (max-width: 400px) {
    .groupSection {
      width: 100%;
    }
    .modalBox{
        width: 85%;
    }
    .page1{
        font-size: medium;
    }
    .group{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 95%;
    }
    .backBtn{
        display: block;
    }
    .header{
        padding-left: 35px;
    }
}
::-webkit-scrollbar{
    width: 0.1px;
    height: 0.1px;
    background-color: #fff;
}



